Source: openrtm-aist
Section: science
Priority: extra
Maintainer: Fumio KANEHIRO <f-kanehiro@aist.go.jp>
Build-Depends: debhelper (>= 7.4), cmake(>= 2.4.0), pkg-config (>= 0.22), doxygen (>=1.6.3), libomniorb4-dev, omniidl4, omniorb4-nameserver, uuid-dev
Standards-Version: 3.9.2
Homepage: http://www.openrtm.org

Package: openrtm-aist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenRTM-aist, RT-Middleware distributed by AIST
 OpenRTM-aist is a reference implementation of RTC (Robotic Technology 
 Component) specification which is OMG standard. OpenRTM-aist includes 
 RT-Middleware runtime environment and RTC framework. The OMG standard 
 defines a component model and certain important infrastructure services 
 applicable to the domain of robotics software development. OpenRTM-aist 
 is being developed and distributed by Task Intelligence Research Group, 
 Intelligent Systems Research Institute, National Institute of Advanced 
 Industrial Science and Technology (AIST), Japan. 
 Please see http://www.openrtm.org/ for more detail.
